.pagination-footer .pagination .page-item .page-link{
    background-color: unset;
    color: rgb(27, 123, 137);
    border: unset;
}

.pagination-footer .pagination {
    align-items: center;
    justify-content: center;
}
