.buttonGroup .card-deck {
  /* margin-right: -15px;
  margin-left: -15px; */
  flex-flow: inherit;
}

.buttonGroup .card-deck .card {
  min-width: auto;
  /* text-align: center; */
}

.buttonGroup .card-deck .card .card-body {
  /* flex: 1 1 auto; */
  min-height: 125px;
  /* align-items: center;
  justify-content: center;
  overflow-wrap: initial; */
  display: table;
  text-align: center;
}

.buttonGroup .card-deck .card .card-body .card-title{
    margin: 20px;
}


