.buttonGroup .card-deck {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-flow: inherit;
}

.buttonGroup .card-deck .card {
  min-width: auto;
  text-align: center;
}

.buttonGroup .card-deck .card .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGroup .card-deck .card .card-body .card-title{
    margin-bottom: 0rem;
}
