.sideButtons {
    border: none !important;
    border-radius: 15px !important;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.sideButtons .card-body:hover{
    color: #FFFFFF !important;
    background-color: #C4C4C4 !important;
    border: none !important;
    border-radius: 15px !important;
}

