.creationLabel {
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 50px;
    color: #203E45;
}

.pageSelect {
    border-radius: 20px;
    border: none;
    background-color: #F1F1F1;
    padding-left: 10px;
    text-align: right;
    font-family: "Open sans", sans-serif;
    color: #203E45;
    font-size: 50px;
}

.instruction {
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 30px;
    color: #203E45;
}
