:root {
  --darkblue: #203e45;
  --lightgray: rgb(240, 240, 240);
  --darkgray: rgb(180, 180, 180);
}

.drawer {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--lightgray);
  align: right;
  text-align: center;
  color: black;
  margin: 12px;
  border-radius: 12px;
}

.drawer-title {
  padding: 12px;
  padding-bottom: 0px;
}

.drawer-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align: center;
  align-items: center;
  padding: 24px;
  padding-top: 0px;
  padding-bottom: 12px;
}

.drawer-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 24px;
  margin: 12px;
  border-radius: 12px;
}

.drawer-text {
  width: 90%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
}

.drawer-arrow {
  height: 40px;
}

ul {
  list-style-type: none;
}

.t-main-menu {
  display: flex;
  margin: 40px 0px;
}

.t-main-menu p {
  padding: 5px 10px;
  margin: auto;
  color: #000;
}

.t-main-menu h5 {
  color: #000;
}

.t-main-menu h5:hover {
  color: #1b7b89 !important;
}

.t-main-menu a:hover {
  text-decoration: none !important;
}

.t-main-menu p:hover {
  background: #1b7b89;
  color: white;
  border: 1px solid;
  border-radius: 30px;
}

a {
  text-decoration: none !important;
}
