:root {
  --darkblue: #203e45;
  --lightgray: rgb(240, 240, 240);
  --darkgray: rgb(180, 180, 180);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: white;
  color: var(--darkblue);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.homeButton {
  position: absolute;
  z-index: 50;
  bottom: 20%;
  right: 20%;
}

