nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: rgb(255, 255, 255);
  color: #203e45;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.homeButton {
  position: absolute;
  z-index: 50;
  bottom: 20%;
  right: 20%;
}
