.sideBar .header {
  background-color: rgb(27, 123, 137);
  height: 2.5em;
  padding-left: 20px;
  line-height: 2.5em;
  color: rgb(255, 255, 255);
}

nav {
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: white;
  color: var(--darkblue);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.sideBar .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before{
  content: none
}